@font-face {
  font-family: "Arimo";
  src: url("fonts/Arimo/Arimo-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "MazzardH";
  src: url("fonts/Mazzard/MazzardH-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "MazzardH";
  src: url("fonts/Mazzard/MazzardH-Black.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Rhythmic";
  src: url("fonts/Rhythmic/Rhythmic.otf") format("opentype");
  font-weight: normal;
}
